[submodule "web/lib/geojs"]
	path = web/lib/geojs
	url = git://github.com/OpenGeoscience/geojs.git
	pushurl = git@github.com:OpenGeoscience/geojs.git
[submodule "ocgis"]
	path = ocgis
	url = 	git://github.com/NCPP/ocgis.git
[submodule "pygeo"]
	path = pygeo
	url = git@github.com:OpenGeoscience/pygeo.git
