[submodule "web/lib/geojs"]
	path = web/lib/geojs
	url = git://github.com/OpenGeoscience/geojs.git
	pushurl = git@github.com:OpenGeoscience/geojs.git
[submodule "modules/ocgis"]
	path = modules/ocgis
	url = git@github.com:NCPP/ocgis.git
